<ion-content>
  <div class="header">
    <h2>Nom user</h2>
    <div class="space-between">
      <div class="followings">
        <ion-badge color="primary" mode="ios">42</ion-badge>
        <p>Rangs</p>
      </div>

      <div class="followings">
        <ion-badge color="primary" mode="ios">102</ion-badge>
        <p>Points</p>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <img src="../../assets/images/static.jpg">
        </div>
      </div>
    </div>
  </div>
  
    <ion-button expand="full" (click)="loadSpecialInfo()">Load Special Info</ion-button>
    <ion-button expand="full" (click)="logout()">Logout</ion-button>
    <ion-button expand="full" (click)="clearToken()">Clear JWT</ion-button>

</ion-content>
<ion-footer>  
  <!-- <ion-toolbar> -->
      <ion-row>
        <ion-col  size="2">
          <ion-button color="dark">
            <ion-icon slot="icon-only" name="list"></ion-icon>
            
          </ion-button>
        </ion-col>
    
        <ion-col size="2">
          <ion-button  color="dark">
            <ion-icon slot="icon-only" name="stats-chart-outline"></ion-icon>
          </ion-button>
        </ion-col>
    
        <ion-col size="4"   >
          <ion-fab  vertical="bottom" horizontal="center"  >
            <ion-fab-button color="light">
              <ion-icon name="Home"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
    
        <ion-col  size="2">
          <ion-button  color="dark">
            <ion-icon slot="icon-only" name="document-outline"></ion-icon>
            
          </ion-button>
        </ion-col>
    
        <ion-col  size="2">
          <ion-button  color="dark">
            <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
            
          </ion-button>
        </ion-col>
      </ion-row>
        <!-- </ion-toolbar> -->
</ion-footer>
