.my-custom-menu {
  --width: 500px;
  --ion-background-color: #212c35;
  --ion-text-color: #ffffff;
}

ion-title{
  border-top: solid rgb(244, 244, 244) 1px;
  background-color: #212c35;
}

ion-content {
  /* overwrite inline styles */
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}