.contaner{
    max-width: 450px;
    margin: 0 auto;
}
/*ion-title{
    border-top: solid rgb(244, 244, 244) 1px;
    background-color: #212c35;
}*/
ion-card{
    height: 90px;
    display: flex;
  }
.title{
    font-size: 15px;
    font-weight: bolder;
}
.info{
    padding-left: 5px;
}
.ion-content-scroll-host {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    overflow-y: auto;
}

ion-toolbar {
  --background: #212c35;
  --color: white;
  --border-top: 1px solid rgb(244, 244, 244);
}