.logo{
  margin-bottom: 20px;
}
ion-content{
  --ion-background-color:linear-gradient(#212225,#212c35);
}
ion-item{
  --ion-background-color:transparent;
}
ion-input{
  color: #c3bdbd;
}
.padding{
  padding: 5%;
}
.text-center{
  text-align: center;
}
.connecter-avec{
  display: flex;
  justify-content: space-between;
}
.logo{
  height: 30%;
  position: relative;
}
.color_text{
  color: #efcc9e;
}
.add_margin{
  text-align: center;
}
.mail {
  --background: #DB4437;
   color: #FFFFFF;
}
.playstation{
  --background: #003087;
   color: #FFFFFF;
}
.xbox{
  --background: #107C10;
   color: #FFFFFF;
}
/*.padding {
  padding: 5%!important;
}
.logo ion-icon{
  font-size: 9em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo img{
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo {
  position: relative;
  height: 250px;
}
ion-content {
  --ion-background-color:linear-gradient(#212225,#212c35);
}
.form{
  margin-top: -50px;
}
ion-item {
  --ion-background-color: transparent!important;
}
.mail {
  --background: #DB4437;
   color: #FFFFFF;
}
.flex {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}*/
