<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Retrait</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Formulaire de rétrait</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nom:</ion-label>
          <ion-input type="text" name="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Prenom:</ion-label>
          <ion-input type="text" name="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Numéro de compte:</ion-label>
          <ion-input type="text" name="account"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Somme:</ion-label>
          <ion-input type="number" name="amount"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Reason for Withdrawal:</ion-label>
          <ion-textarea name="reason"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="primary">Submit</ion-button>
</ion-content>
<ion-footer>  
  <ion-toolbar>
      <ion-row>
        <ion-col  size="2">
          <ion-button color="dark" (click)="gamePage()">
            <ion-icon name="game-controller-outline"></ion-icon>
          </ion-button>
        </ion-col>
    
        <ion-col size="2">
          <ion-button color="dark"  (click)="statPage()">
            <ion-icon slot="icon-only" name="stats-chart-outline"></ion-icon>
          </ion-button>
        </ion-col>
    
        <ion-col size="4"   >
          <ion-fab  vertical="bottom" horizontal="center"   (click)="profilPage()">
            <ion-fab-button color="light">
              <ion-icon name="home"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
    
        <ion-col  size="2">
          <ion-button color="dark" (click)="retraitPage()">
            <ion-icon name="cash"></ion-icon>
          </ion-button>
        </ion-col>
    
        <ion-col  size="2">
          <ion-button color="dark"  (click)="shopPage()">
            <ion-icon name="bag-handle"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
</ion-footer>