<ion-header>
  <ion-toolbar>
    <div side="end" type="push" contentId="main">
      <ion-header>
        <ion-toolbar color="danger">
          <ion-title>End Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
        </ion-list>
      </ion-content>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  
</ion-content>

<ng-container *ngIf="!isHomePage">
  <app-menu></app-menu>
</ng-container>