<ion-header>
  <ion-toolbar>
    <ion-title>stat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-footer>  
  <ion-toolbar>
      <ion-row>
        <ion-col  size="2">
          <ion-button color="dark" (click)="gamePage()">
            <ion-icon name="game-controller-outline"></ion-icon>
          </ion-button>
        </ion-col>
    
        <ion-col size="2">
          <ion-button color="dark"  (click)="statPage()">
            <ion-icon slot="icon-only" name="stats-chart-outline"></ion-icon>
          </ion-button>
        </ion-col>
    
        <ion-col size="4"   >
          <ion-fab  vertical="bottom" horizontal="center"   (click)="profilPage()">
            <ion-fab-button color="light">
              <ion-icon name="home"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
    
        <ion-col  size="2">
          <ion-button color="dark" (click)="retraitPage()">
            <ion-icon name="cash"></ion-icon>
          </ion-button>
        </ion-col>
    
        <ion-col  size="2">
          <ion-button color="dark"  (click)="shopPage()">
            <ion-icon name="bag-handle"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
</ion-footer>