ion-content {
    //--ion-background-color:linear-gradient(#212225,#212c35);
    position: relative;
  
    ion-button {
        margin-top: 1em;
        margin-bottom: 1em
    }
  }

ion-footer{
    border-top: solid rgb(244, 244, 244) 1px;
    background-color: #212c35;
  }