<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Boutique</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scroll-y="false">
  <div class="ion-content-scroll-host ion-padding">
    <div class="ion-page">
      <div class="container">
        <ion-card *ngFor="let xtremepoint of xtremepoints">
          <img src="https://api.dicebear.com/6.x/icons/svg?seed=Peanut" alt="avatar" />
          <div class="info">
            <ion-card-title>{{ xtremepoint.titre_xtremepoint }}</ion-card-title>
            <ion-card-subtitle>{{ xtremepoint.prix_xtremepoint}} CF</ion-card-subtitle>
          </div>
        </ion-card>
      </div>  
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">  
  <ion-toolbar>
      <ion-row>
        <ion-col  size="2">
          <ion-button color="dark" (click)="gamePage()">
            <ion-icon name="game-controller-outline"></ion-icon>
          </ion-button>
        </ion-col>
    
        <ion-col size="2">
          <ion-button color="dark"  (click)="statPage()">
            <ion-icon slot="icon-only" name="stats-chart-outline"></ion-icon>
          </ion-button>
        </ion-col>
    
        <ion-col size="4"   >
          <ion-fab  vertical="bottom" horizontal="center"   (click)="profilPage()">
            <ion-fab-button color="light">
              <ion-icon name="home"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
    
        <ion-col  size="2">
          <ion-button color="dark" (click)="retraitPage()">
            <ion-icon name="cash"></ion-icon>
          </ion-button>
        </ion-col>
    
        <ion-col  size="2">
          <ion-button color="dark"  (click)="shopPage()">
            <ion-icon name="bag-handle"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
</ion-footer>
